.videoGallery{
    width: 100%;
}
.videoGalleryHeading{
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}
.videoGalleryHeading span{
    color: #1e441f;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #1e441f;
}
.videoAlbums{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
